# Python
__pycache__/
*.py[cod]
.venv/
.env

# Node
node_modules/
.next/

# Logs and OS
*.log
.DS_Store
Thumbs.db

# Datasets
datasets/

backend/artifacts/*.joblib
/FSL-105 A dataset for recognizing 105 Filipino sign language videos.zip
/backend/artifacts/words_model.joblib
/backend/artifacts/numbers_motion_model.joblib
